body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #0C0C0C;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Chat-Header {
  background-color: #302A2A;
  color: #fff;
  padding: 15px;
  margin: 0;
  text-align: center;
}

.Chat-Box {
  display:flexbox;
  flex-direction: column;
  background-color: #302A2A;
  height: 80vh;
}

.Messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #9B3922;
}

.Message-Container {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
}

.username {
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
}

.message {
  margin: 0;
}

.MessageInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #0C0C0C;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
}

.Send_Message_Button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.Send_Message_Button:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  padding: 10px;
  background-color: #302A2A;
  border-color: #302A2A;
  border-top: 1px solid #ddd; 
}

h1 {
  text-align: center;
}

.not_logged {
  text-align: center;
}

.button-span {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-span a {
  text-decoration: none;
}

.button-span button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3 ease;
}

.button-span button:hover {
  background-color: #0056b3;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}